.form-button {        
    display: flex;
    justify-content: center;
    padding: 30px;        
}
.transition-message {
    display: flex;
    justify-content: center;
    align-content: center;
}
.account-menu {
    margin: auto;
    padding: 20px;
    width: 50%;    
}
.account-form {
    margin-top: 20px;
}

.test {    
    margin: auto;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: green;
}