.transactions {
    margin: auto;
    padding: 20px;
    width: 50%;    
}
.transactions-table {
    margin-top: 20px;
}
.button-group-modal1 {        
    margin: 50% -120% 0% 0%  
}
.button-group-modal2 {
    margin: 30% 0% 0% 0%
}
.grid-container {
    display: grid;
    grid: auto / auto auto;
    grid-gap: 10px;    
    text-align: center;
}
